.product-grid-cards
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
    grid-gap: 24px
    justify-items: center
    align-items: center
    width: 100%
    max-width: 1080px
    margin: 73px auto
    padding: 0 10px

    .product-card
        @include flexbox(column, center, center)
        position: relative
        width: 100%
        height: auto
        padding: 18px
        text-align: center
        border: 1px solid $color2
        border-radius: 14px

        img
            max-width: 100%
            height: auto

        .product-img
            width: 100%
            overflow: hidden

        .flag-discount
            @include fontConfig(1.2rem, 700, $color1)
            position: absolute
            left: 0
            top: 55px
            width: 69px
            height: 30px
            line-height: 2.5
            background: $color3
            border-radius: 0 8px 8px 0

            @include tabletSize
                font-size: 1rem
                top: 47px
                width: 56px
                height: 24px
                border-radius: 0 4px 4px 0
        
        .flag-free
            @include fontConfig(1.2rem, 400, $color1)
            position: absolute
            left: 0
            top: 20px
            width: 88px
            height: 30px
            line-height: 2.5
            background: $color4
            border-radius: 0 8px 8px 0

            @include tabletSize
                font-size: 1rem
                width: 65px
                height: 24px
                border-radius: 0 4px 4px 0
        
        .product-content
            @include flexbox(column, center, flex-start)
            width: 100%
            text-align: left

            .product-title
                @include fontConfig(1.4rem, 400, $color2)
                height: 40px
                margin: 15px 0
                -webkit-line-clamp: 2
                overflow: hidden

                @include tabletSize
                    font-size: 1.2rem
                    height: 40px
                    margin: 0 0 18px
                    line-height: 1.2

            .price-container
                @include flexbox(row, flex-start, end)
                height: 23px
                margin-bottom: 5px

                .product-old-price
                    @include fontConfig(1.3rem, 400, $color2)
                    text-decoration: line-through
                    margin-right: 5px

                    @include tabletSize
                        font-size: 1.3rem

                .product-price
                    @include fontConfig(1.8rem, 700, $color3)
                    align-items: flex-start

                    @include tabletSize
                        font-size: 1.6rem

                @include tabletSize
                    @include flexbox(column, flex-end, flex-start)
                    height: 40px
                    margin-bottom: 8px

            .product-installments
                @include fontConfig(1rem, 400, $color2)
                height: 14px

                @include tabletSize
                    height: 26px
            
            .product-not-available
                @include fontConfig(1.3rem, 400, $color2)
                margin: auto
                height: 38px

            .btn-mobile
                display: none

            @include tabletSize
                height: 145px

                .btn-mobile
                    @include fontConfig(1.2rem, 700, $color1)
                    display: block
                    margin-top: 8px
                    width: 100%
                    height: 28px
                    background: $color3
                    border-radius: 5px
                    border: none
                    outline: none
                    cursor: pointer
                    transition: .5s
                    text-transform: uppercase

        .product-card-overlay
            position: absolute
            width: 100%
            height: 100%
            overflow: hidden
            transition: .5s
            
            .product-page-btn
                visibility: hidden
            
            @include tabletSize
                display: none

        &:hover

            .product-card-overlay
                background: rgba(255, 255, 255, .7)

                .product-page-btn
                    @include fontConfig(1.2rem, 700, $color1)
                    position: absolute
                    visibility: visible
                    top: 45%
                    left: 50%
                    transform: translate(-50%, 0)
                    margin: 0 auto
                    width: 182px
                    height: 36px
                    background: $color3
                    border-radius: 5px
                    border: none
                    outline: none
                    cursor: pointer
                    transition: .5s
                    text-transform: uppercase

                    &:hover
                        background: #006840

        @include tabletSize
            flex-direction: row
       

    .not-available
        opacity: .5

                